<div class="field search columns">
    <p class="control has-icons-left has-icons-right column is-two-thirds left-search">
        <input class="input" type="text" placeholder="Buscador global" (input)="search.emit(input.value)" #input>
        <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
        </span>
        <span class="icon is-small is-right" (click)="eraserSearch()">
            <i class="fas fa-eraser clear"></i>
        </span>
    </p>
    <div class="control has-icons-left filter">
        <div class="select">
            <select [(ngModel)]="selected" (change)="region.emit(selected)">
                <option selected disabled value="">Región</option>
                <option value="all">Todas</option>
                <option value="Africa">Africa</option>
                <option value="Americas">Americas</option>
                <option value="Asia">Asia</option>
                <option value="Europe">Europa</option>
                <option value="Oceania">Oceania</option>
            </select>
        </div>
        <div class="icon is-small is-left">
            <i class="fas fa-globe"></i>
        </div>
    </div>
    <button class="button is-info is-outlined" (click)="openModal()"> favoritos</button>
</div>

<div class="modal" [ngClass]="{'is-active': open}">
    <div class="modal-background" (click)="toggleModal()"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title title">Favoritos</p>
            <button class="delete" aria-label="close" (click)="toggleModal()"></button>
        </header>
        <section class="modal-card-body inside-body">
            <div class="information columns">
                <app-cards *ngFor="let item of country;let i=index" class="column is-6">
                    <div class="card-favourite">
                        <img class="flag" src="{{item.flag}}">
                        <strong>{{item.name}}</strong>
                    </div>
                    <button class="button is-danger is-outlined" (click)="delete(i)">
                        <i class="fas fa-trash"></i>
                    </button>
                </app-cards>
                <ng-container *ngIf="!country.length">
                    aún no tienes favoritos :(
                </ng-container>

            </div>
        </section>
    </div>
</div>